@model Magazin.Models.User
<div class="container py-4">
    <h2 class="fw-bold text-center mb-4">➕ Добавить пользователя</h2>
    <form asp-action="CreateUser" method="post" class="w-50 mx-auto">
        <div class="mb-3">
            <label class="form-label">Логин</label>
            <input asp-for="LoginUser" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input asp-for="PasswordUser" type="password" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Роль</label>
            <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-select"></select>
        </div>
        <button class="btn btn-success">Сохранить</button>
        <a asp-action="Users" class="btn btn-secondary">Отмена</a>
    </form>
</div>
