@model Magazin.Models.Role
<div class="container py-4">
    <h2 class="fw-bold text-center mb-4 text-danger">🗑 Удалить роль</h2>
    <div class="alert alert-warning text-center">
        Удалить роль <b>@Model.NameRole</b>?
    </div>
    <form asp-action="DeleteRole" method="post" class="text-center">
        <input type="hidden" asp-for="IdRole" />
        <button class="btn btn-danger">Удалить</button>
        <a asp-action="Roles" class="btn btn-secondary">Отмена</a>
    </form>
</div>
