<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - BookMagazin - <a asp-area="" asp-controller="Catalog" asp-action="Privacy">Privacy</a>
    </div>
</footer>